.options {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 10px;
  margin-left: auto;
}

.options_btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.options_btn:hover {
  background-color: #0056b3;
}

.options_reset_btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.options_reset_btn:hover {
  background-color: #c82333;
}
